{% extends "base.html" %} 
{% load static %} 

{% block title %} 
    Registration form
{% endblock title %} 

{% block style %} 
<link rel="stylesheet" href="{% static 'edudealio/styles/register.css'%}">
{% endblock style %} 

{% block content %}
<section class="registration">
	<div id="registration-box" class="container my-3 py-3">
		<div class="row">
            <div class="col-md-10 col-lg-8 col-xl-6 mx-auto">
                <div id="form-bg" class="bg-primary bg-opacity-10 rounded p-3 p-sm-5">
                    <h2>Create your free account </h2>
                    <!-- Form START -->
                    <form class="mt-4" action="{% url 'register' %}" method="POST">
                        {% csrf_token %}
                        <!-- Name -->
                        <div class="mb-3 input-data">
                            <label class="form-label fw-bold" for="username">Name</label>
                            <input type="test" class="form-control" id="username" name="username" placeholder="Your Name">
                        </div>
                        <!-- Email -->
                        <div class="mb-3 input-data">
                            <label class="form-label fw-bold" for="email">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="E-mail">
                        </div>
                        <!-- Password -->
                        <div class="mb-3 input-data">
                            <label class="form-label fw-bold" for="password1">Password</label>
                            <input type="password" class="form-control" id="password1" name="password1" placeholder="*********">
                        </div>
                        <!-- Password -->
                        <div class="mb-3 input-data">
                            <label class="form-label fw-bold" for="password2">Confirm Password</label>
                            <input type="password" class="form-control" id="password2" name="password2" placeholder="*********">
                        </div>
                        <!-- Checkbox -->
                        <div class="mb-3 form-check">
                            <input id="check-terms" type="checkbox" class="form-check-input">
                            <label class="form-check-label" for="check-terms">By clicking, you agree to the terms of use.</label>
                        </div>
                        <!-- Button -->
                        <div class="row align-items-center">
                            <div class="col-sm-4">
                                <button id="submit" type="submit" class="btn btn-success">Sign me up</button>
                            </div>
                            <div class="col-sm-8 text-sm-end">
                                <span>Have an account? <a href="/login"><u>Sign in</u></a></span>
                            </div>
                        </div>
                    </form>
                    <!-- Form END -->
                </div>
            </div>
        </div>
	</div>
</section>

<script src="{% static 'edudealio/js/register.js'%}"></script>
{% endblock content %}
