<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome to EduDealio!</title>
    </head>
    <body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 20px;">
        <div style="max-width: 600px; margin: 0 auto; background-color: #fff; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-top: 10px solid #007bff;">
            <div style="text-align: center;">
                <img src="https://ik.imagekit.io/edudealio/EduDealio/Logo/logo-lightbg.png?updatedAt=1697892716119" alt="EduPerks Logo" style="width: 150px; height: 80px;">
            </div>
            <div style="padding-top: 2rem;">
                <h1 style="color: #007bff; text-align: center;">Welcome to EduDealio! 🎉</h1>
                <div style="padding-top: 1rem; margin: 0 3rem;">
                    <p style="color: #333; line-height: 1.6;">Dear {{name|title}},</p>
                    <p style="color: #333; line-height: 1.6;">Congratulations on joining EduDealio! You've taken the first step towards unlocking incredible rewards and offers based on your academic achievements, quiz performance and many more.</p>
                    <p style="color: #333; line-height: 1.6;">As a member of EduDealio, you'll have access to exclusive deals, discounts, and rewards tailored to support your educational journey.</p>
                    <p style="color: #333; line-height: 1.6;">Keep an eye on your inbox for exciting updates, quizzes, and special offers.</p>
                    <p style="color: #333; line-height: 1.6;">If you have any questions or need assistance, feel free to <a href="mailto:team@edudealio.com" style="color: #007bff; text-decoration: none;">contact our support team</a>.</p>
                </div>
                <div style="text-align: center; padding-top: 1rem;">
                    <a href="https://www.edudealio.com" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px;">Explore EduDealio</a>
                </div>
            </div>
        </div>
    </body>
</html>
