<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subscription Successful</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 20px;">
    <div style="max-width: 600px; margin: 0 auto; background-color: #fff; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-top: 10px solid #333;">
        <div style="text-align: center;">
            <img src="https://ik.imagekit.io/edudealio/EduDealio/Logo/logo-lightbg.png?updatedAt=1697892716119" alt="Edudealio logo" style="width: 150px; height: 80px;">
        </div>
        <div style="padding-top: 1rem;">
            <h1 style="color: #333; text-align: center;">Welcome to EduDeals!</h1>
            <div style="padding-top: 1rem; margin: 0 3rem;">
                <p style="color: #666; line-height: 1.6;">Thank you for subscribing to EduDeals, your gateway to exclusive offers and rewards based on academic achievements.</p>
                <p style="color: #666; line-height: 1.6;">You're now part of a vibrant community where learning meets rewards.</p>
                <p style="color: #666; line-height: 1.6;">Stay tuned for exciting deals, offers, and quizzes tailored to enhance your learning experience.</p>
                <p style="color: #666; line-height: 1.6;">If you have any questions or need assistance, feel free to <a href="mailto:team@edudealio.com" style="color: #007bff; text-decoration: none;">contact us</a>.</p>
            </div>
            <div style="text-align: center; padding-top: 2rem;">
                <a href="https://www.edudealio.com" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px;">Explore EduDealio</a>
            </div>
        </div>
    </div>
</body>
</html>
